{% extends 'base.html' %}
2{%block body%}
<div class="body_container">
    <div class="search_container">
        <form action="" method="POST">
            <input class="search_container__text" type="text" name="search_query">
            <input class="search_container__button" type="submit" value="Search">
        </form>

    </div>
    <div class="filters">
        <div class="filters_field">
            <label for="f_price">by price
                <input type="checkbox" value="yes" id="f_price">
            </label>
            <label for="f_date">by date
                <input type="checkbox" id="f_date">
            </label>
            <label for="f_">favorite
                <input type="checkbox" id="f_favorite">
            </label>
        </div>
        <input class="filters__button" type="submit" value="Save">
    </div>
    <div class="content_box">
        <div class="box_left">history_container</div>
        <div class="box_right">
            {% block adv %}
            {% endblock %}
        </div>
    </div>
</div>
{{ super() }}
{% endblock %}